.chamada {
    padding-top: 2.5rem;

    margin-bottom: 2.5rem;

    background-image: url(../../assets/img/splash-chamada.svg);
    background-position: top -4rem right;
    background-repeat: no-repeat;

    position: relative;
}

.chamada__texto {
    width: 12.5rem;

    margin-bottom: 1.55rem;
}

.chamada__imagem {
    position: absolute;
    top: 7.25rem;
    right: 6px;
    width: 163px;
}

.chamada__formulario {
    position: relative;

    z-index: 2;
}

@media screen and (min-width: 1200px) {
    .chamada .titulo--destaque {
        font-size: 82px;
        width: 380px;
    }  
    
    .chamada__texto {
        width: 480px;
    }

    .chamada__formulario {
        display: flex;
        justify-content: space-between;
        width: 585px;
        height: 75px;
    }

    .input {
        margin-bottom: 0;
    }

    .botao {
        width: 60%;
    }

    .chamada {
        display: flex;
        background-image: none;
        justify-content: center;
        margin-bottom: 0;
       
    }

    .chamada__imagem {
        width: 32rem;
        top: 0;
        position: relative;
        margin-right: 5rem;
    }  

    .chamada__position {
        display: flex;
        margin-bottom: 14rem;
        flex-direction: column;
        gap: 1rem;
    }


  
}