.descricao {
    margin: 3rem 0;
}

.descricao__titulo {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
}

.descricao__texto {
    padding-left: 1rem;
    padding-right: 1rem;    
}

.descricao__leiamais {
    color: var(--amarelo);
    padding-left: 1rem;
}

.descricao .texto__mais {
    display: none;
}

.descricao__botao:checked ~ .texto__menos, .descricao__botao:checked ~ .invisivel {
    display: none;
}
.descricao__botao:checked ~ .texto__mais, .descricao__botao:checked ~ .visivel {
    display: block;
}

.descricao .visivel, .descricao__botao {
    display: none;
}

.descricao .centro {
    display: block;
}

.descricao__imagem {
    display: none;
}

.texto__desktop {
    display: none;
}



@media screen and (min-width:1200px) {
    .descricao {
        height: 50rem;
        width: 100vw;
        margin: 0;
    }

    .descricao .centro {
        display: flex;
        align-items: center;
    }

    .descricao__imagem {
        display: block;
        width: 30rem;
    }

    .cartao {
        justify-content: center;
    }

    .texto__desktop {
        display: block;
        width: 585px;
        padding-left: 100px;
        position: relative;
    }

    .descricao .mobile {
        display: none;
    }

    .texto__desktop::before {
        content: "";
        background-image: url(../../img/icones/descricao-icone.svg);
        background-size: cover;
        position: absolute;
        height: 72px;
        width: 72px;
        left: 0;
    }

    .descricao__titulo {
        padding-left: 0rem;
        margin-bottom: 2rem;
    }
}
