.rodape {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background-image: url(../../img/splash-rodape.svg), linear-gradient(0deg, #ffffffff 80%,#ffffffff 20%);
    background-position: top -11rem right, bottom left;
    background-repeat: no-repeat, no-repeat;
}

.rodape__logo {
    max-width: 11.125;

    margin-bottom: 1.25rem;
}

.rodape__social {
    display: flex;

    margin-bottom: 2rem;
}

.rodape__social-midia {
    display: inline-block;

    width: 1.625rem;
    height: 1.625rem;

    margin-right: 1.625rem;
}

.rodape__unidade {
    margin-bottom: 2rem;
}

.rodape__unidade-titulo {
    color: var(--preto);
    font-size: var(--tamanho-destaque);
    font-weight: var(--peso-destaque);

    display: block;
    margin-bottom: .5rem;
}

.rodape__ilustracao {
    display: none;
}

@media screen and (min-width: 1200px) {
    .rodape {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-image: url(../../img/splash-rodape-1200.svg), linear-gradient(0deg, #ffffffff 80%, #ffffff00 20%);
        background-position: bottom left, bottom left;
        background-repeat: no-repeat, no-repeat;
    }

    .rodape__ilustracao {
        display: block;
        width: 330px;
    }

    .rodape__alinhamento {
        display: flex;
        width: 1200px;
        margin: auto;
        margin-bottom: -25px;
        justify-content: space-between;
        align-items: center;
    }
}